
nav {
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position it at the top of the screen */
  left: 0;
  right: 0;
  height: 120px; /* Set the height to 120 pixels */
  width: 100%; /* Full width of the viewport */
  
  color: #FFFFFF; /* Default font color */
  font-family: 'Bungee', sans-serif; /* Use 'Bungee' font-family */
  padding: 0 1.5em; /* 1.5ems of space on the right and left */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* Ensure it appears above other content */
}

.tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3';
font-size: 15px;
font-weight: bold
}

.fa-solid {
  color: red;
  font-weight: bold;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.tweet-button .fa-angles-down {
  animation: moveUpDown 1s infinite;
}