.new-tweet {
  display: flex;
  flex-direction: column;
}
.new-tweet form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.new-tweet label {
  display: none;
}

.new-tweet textarea {
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 5px;
  margin: 5px;
  background-color: #f4f1ec;
  font-size: 15px;
  font-family: "Source Sans 3";
  font-weight: bold;
}

.new-tweet .counter {
  font-family: "Bungee", sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: black;
}

.new-tweet .counter.counter-exceeded {
  color: red;
}

.new-tweet button {
  font-style: normal;
  font-family: "Bungee", sans-serif;
  background-color: #4056a1;
  font-weight: 100;
  font-size: 15px;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  align-self: flex-start;
}

.buttonAndCounter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  color: #cc0033;
  font-family: "Source Sans 3";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
  text-align: center;
}
