.tweet {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Source Sans 3';
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.3s; /* Adding transition for smooth effect */

}

.tweet header {
  height: 30%;
  background-color: inherit;
  background-image: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 1.2em;
  margin: 0;
}

.user-handle {
  color: #777;
  margin-left: 10px;
}

.tweet-content {
  margin-top: 10px;
  padding: 15px;
  border-bottom: black solid 2px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tweet-timestamp {
  color: #777;
}

.tweet-actions {
  display: flex;
}

.tweet-actions i {
  color: #4056A1;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s; /* Adding transition for smooth color change */
}

/* Hover state styles */
.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding box shadow on hover */
}

/* Hover state for the flag icon */
.tweet-actions .fa-flag:hover {
  color: rgba(255, 217, 0, 0.63); /* Changing color to gold on hover */
}

/* Hover state for the heart icon */
.tweet-actions .fa-heart:hover {
  color: rgba(255, 217, 0, 0.63); /* Changing color to gold on hover */
}

/* Hover state for the retweet icon */
.tweet-actions .fa-retweet:hover {
  color: rgba(255, 217, 0, 0.63); /* Changing color to gold on hover */
}