.tweet {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  font-family: "Source Sans 3";
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.tweet .avatar {
  margin: 0;
}

.tweet header {
  height: 30%;
  background-color: inherit;
  background-image: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  width: 98%;
  padding: 5px;
}

.tweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  margin-top: 10px;
  padding: 15px;
  border-bottom: black solid 2px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.timestamp {
  color: #777;
}

.icons {
  display: flex;
}

.icons i {
  color: #4056a1;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icons .fa-flag:hover {
  color: rgba(255, 217, 0, 0.63);
}

.icons .fa-heart:hover {
  color: rgba(255, 217, 0, 0.63);
}

.icons .fa-retweet:hover {
  color: rgba(255, 217, 0, 0.63);
}
